force-app/main/default/flows/Bank_Report_Duplicate_Detection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>List_diplicates</name>
        <label>List diplicates</label>
        <locationX>264</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>DuplicateInboundReports</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_duplicates</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_duplicates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status</name>
        <label>Set Status</label>
        <locationX>264</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_duplicates.cpm__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Duplicate</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>List_diplicates</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Bank Report Duplicate Detection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bank Report Duplicate Detection</label>
    <loops>
        <name>Loop_through_duplicates</name>
        <label>Loop through duplicates</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>Get_Duplicates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Duplicates</name>
        <label>Get Duplicates</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_duplicates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>cpm__Checksum__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>cpm__Checksum__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.cpm__Checksum__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>cpm__Inbound_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Status</name>
        <label>Update Status</label>
        <locationX>176</locationX>
        <locationY>768</locationY>
        <inputReference>DuplicateInboundReports</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Duplicates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>cpm__Report_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BACS</stringValue>
            </value>
        </filters>
        <object>cpm__Inbound_Report__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-09-26</startDate>
            <startTime>22:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>DuplicateInboundReports</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>cpm__Inbound_Report__c</objectType>
    </variables>
</Flow>
